*
{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
   /* background:; */
}
   .bio
   {
    background-size: cover;
    background-position: center center;
    max-width: 100%; 
    background-repeat: no-repeat;
    height: 1000px;
    background-image:url("https://images.pexels.com/photos/66869/green-leaf-natural-wallpaper-royalty-free-66869.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    object-fit: contain;
   
}
.navbar
{
    padding: 40px;
    background-color: darkslategrey;
    color: aliceblue;
    padding-left: 500px;
}
.image img
{
    height: 20px;
    width: 20px;
    /* padding-left: 500px; */
}

.bio h1
{
    font-family: monospace;
    text-align: center;
}
.bio
{
    margin: 20px;
    /* display: flex;
      */
}
 .click1
 {
     background-color: darkslategrey;
     color: WHITE;
     padding: 2px 4px;
     border: 2px solid black;
     border-radius:2px;
 }
    .click1:hover
    {
        background-color: rgb(89, 214, 214); 
        color: olivedrab;
        transition: 2s;
    }
     .click2
        {
            background-color: darkslategrey;
            color: WHITE;
            padding: 2px 4px;
            border: 2px solid black;
            border-radius:2px;
        }
        .click2:hover
        {
            background-color: rgb(94, 255, 255);
            color: black;
            transition: 2s;
        }
.degradable
{
    
     display: flex; 
    padding: 150px;
    animation: de 2s linear infinite;
}
@keyframes de
{
0%
{
   transform:  scale(1.09); 
   /* background-color: darkslategray; */
}
}
.degradable img
{
  border-radius: 100%;
  height: 200px;
 animation: im 2s linear infinite;
}
@keyframes im{
    100%
    {
        /* transform: rotate(45deg) scale(1.09); */
    }
}
.degradable p
{
    max-width: 40%;
   font-style: oblique;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-radius: 3px solid lightgrey;
   text-decoration: none;
}
.nondegradable
{
     display: flex; 
    padding: 50px;
    margin-left: 25%;
}
.nondegradable img{
    border-radius: 50%;
}
.nondegradable p
{
    max-width: 40%;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .bio .non-degradable { 
    /* transition: transform 420ms; */
 
.degradable:hover
{
    transform: scale(1.09);
    transition: transform 420ms;
    
}
.nondegradable:hover
{
    transform: scale(1.09);
    transition: transform 420ms;
    
}